.movie-view{
  min-height: 110vh;
  background: #0c0c0c;
}

.movie-poster-view {
  position: absolute;
  z-index: 1;
  width: 180px;
  top: 51%;
  left: 15%;
}

.movie-backdrop {
  position: absolute;
  opacity: 0.5;
  top: 15%;
  right: 10%;
  width: 80%;
}

.movie-view-description{
  background: #252525;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 10%;
  width: 80%;
}

.movie-title {
  color: white;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 12px;
}

.movie-overview {
  color: white;
  font-size: 17px;
  font-weight: 100;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.favorite-button-movie-view {
  background: url('../../assets/favorite.svg');
  border: none;
  top: 83%;
  left: 85%;
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
    &:hover {
        background: url('../../assets/favorite-selected.svg');
        cursor: pointer;
    }
}
