.page-title {
  color: #959595;
  padding-top: 40px;
  font-weight: 200;
  margin: 0;
  font-size: 40px; }

.register {
  background: #0c0c0c;
  min-height: 100vh; }

.register-form {
  padding: 30px;
  padding-top: 150px;
  padding-top: 40px;
  display: flex;
  justify-content: center; }

.input-container {
  border: solid 3px #e2368d;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background: #c7c7c7; }

.register-input {
  font-size: 17px;
  margin-top: 34px;
  width: 400px;
  height: 30px;
  padding-left: 7px; }

.register-button {
  margin-bottom: 35px;
  background: #00afff;
  border-radius: 100px;
  border: none;
  color: white;
  margin-top: 29px;
  height: 37px;
  width: 150px;
  font-size: 15px; }
  .register-button:hover {
    cursor: pointer;
    background: #e7eff7;
    color: #090e12; }
