.movie-card-main {
  width: 300px;
  background: #252525;
  margin: 15px;
}

.favorite-selected {
  background: magenta;
}

.movie-poster {
  width: 300px;
  height: 450px;
}

.button-container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.favorite-button {
  background: url('../../assets/favorite.svg');
  border: none;
  width: 35px;
  height: 35px;
    &:hover {
        background: url('../../assets/favorite-selected.svg');
        cursor: pointer;
    }
}
