.movie-card-main {
  width: 300px;
  background: #393839;
  margin: 15px;
  height: 510px; }

.movie-poster {
  width: 300px; }

.favorite-button {
  background: url("../../assets/favorite.svg");
  border: none;
  width: 35px;
  height: 35px;
  margin-top: 12px; }
  .favorite-button:hover {
    background: url("../../assets/favorite-selected.svg");
    cursor: pointer; }
