.nav-menu {
  background-color: #252525;
  display: flex;
  padding: 20px;
  justify-content: space-between; }

.nav {
  color: white;
  text-decoration-line: none; }

.menu {
  width: 60%;
  font-size: 17px;
  display: flex;
  justify-content: space-around; }

.active {
  color: #41aff8; }

.app-title-1 {
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: 400; }

.app-title-2 {
  color: #e2408d; }

.home-nav {
  text-decoration: none;
  color: white; }

.logout-button {
  background: #41a1e0;
  border: none;
  border-radius: 100px;
  color: white;
  height: 24px;
  width: 110px; }
  .logout-button:hover {
    background: #ffffff;
    color: #000000;
    cursor: pointer; }
