.page-title {
  color: #959595;
  padding-top: 40px;
  font-weight: 200;
  margin: 0;
  font-size: 40px;
}

.login {
  background: #0c0c0c;
  min-height: 100vh;
}

.login-form {
  padding: 30px;
  padding-top: 150px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.login-input {
  font-size: 17px;
  margin-top: 34px;
  width: 400px;
  height: 30px;
  padding-left: 7px;
}

.login-button {
  margin-bottom: 35px;
  background: #00afff;
  border-radius: 100px;
  border: none;
  color: white;
  margin-top: 29px;
  height: 37px;
  width: 150px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
    background: #e7eff7;
    color: #090e12;
  }
}
